.contact-actions a {
  display: inline-block;
  text-align: center;
  width: 35px;
  height: 35px;
  cursor: pointer;

}
.contact-actions{
float: right;
}


 .Addbutton{
margin-left: 40px !important;
}


.showButton{
  margin-left: 20px !important;
  }
