

<form [formGroup] = "form" (submit)='contactForm()'>
  <div class="form-group">
    <label for="exampleFormControlInput1"> Name</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter the name" formControlName="name">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput2"> Phone Number</label>
    <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="Enter the Phone" formControlName="phoneno">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput3"> Address</label>
    <input type="text" class="form-control" id="exampleFormControlInput3" placeholder="Enter the Address"  formControlName="country">
  </div>
  <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="Enter the Phone" formControlName="id" hidden=true>
  <div class="Addbutton">
    <button type="submit"  class="btn btn-primary"  > {{AddEditButtton}}</button>
    <span class="showButton">
      <button (click)=getAll()  type ="button" class="btn btn-primary" > Show All</button>
    </span>

  </div>
</form>
<div>
  <ul class="list-group" [hidden]='Flag'>
    <li class="list-group-item" *ngIf='contact'>{{contact.name +"'s"+" "+"contact has been" +" "+ UpdateAdded + " to the contact"}}</li>
  </ul>
    <ul class="list-group" >
        <li class="list-group-item" *ngFor ='let posts of con' [hidden]='ShowAllFlag'>
          <span >Name -
            {{ posts.name}}
          </span>
          <span >Phone No -
            {{ posts.phoneno}}
          </span>
          <span >Address -
            {{ posts.country}}
          </span>

          <span class="contact-actions">
              <a  (click)='editContact(posts)'>
                <i class="material-icons edit">edit</i>
              </a>
              <a (click)='deleteContact(posts.id)'>
                <i class="material-icons delete">clear</i>
              </a>
          </span>

        </li>
      </ul>
    </div>
